[user]
	name = matsui54
	email = haru.matu9168@gmail.com
[ghq]
  root = ~/.cache/dein/repos/
  root = ~/ghq/
[core]
	quotepath = false
	editor = nvim
[pull]
	rebase = false
[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
[diff]
  tool = nvim_difftool
